<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="PlanillaWeb-ejbPU" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>jdbc/PlanillaDatasource</jta-data-source>
    <class>com.infosgroup.planilla.modelo.entidades.AccionPersonal</class>
    <class>com.infosgroup.planilla.modelo.entidades.AfpCotizadas</class>
    <class>com.infosgroup.planilla.modelo.entidades.Agencias</class>
    <class>com.infosgroup.planilla.modelo.entidades.AreasStaff</class>
    <class>com.infosgroup.planilla.modelo.entidades.Bancos</class>
    <class>com.infosgroup.planilla.modelo.entidades.BasesCalculo</class>
    <class>com.infosgroup.planilla.modelo.entidades.BeneficiarioPorCandidato</class>
    <class>com.infosgroup.planilla.modelo.entidades.Campania</class>
    <class>com.infosgroup.planilla.modelo.entidades.Candidato</class>
    <class>com.infosgroup.planilla.modelo.entidades.CandidatoConcurso</class>
    <class>com.infosgroup.planilla.modelo.entidades.CausasRenuncia</class>
    <class>com.infosgroup.planilla.modelo.entidades.Cias</class>
    <class>com.infosgroup.planilla.modelo.entidades.Competencias</class>
    <class>com.infosgroup.planilla.modelo.entidades.Concurso</class>
    <class>com.infosgroup.planilla.modelo.entidades.ContactosXPuesto</class>
    <class>com.infosgroup.planilla.modelo.entidades.Contrato</class>
    <class>com.infosgroup.planilla.modelo.entidades.Criterio</class>
    <class>com.infosgroup.planilla.modelo.entidades.CriterioSeleccionado</class>
    <class>com.infosgroup.planilla.modelo.entidades.CriteriosXCandidato</class>
    <class>com.infosgroup.planilla.modelo.entidades.CriteriosXPuesto</class>
    <class>com.infosgroup.planilla.modelo.entidades.DeducPresta</class>
    <class>com.infosgroup.planilla.modelo.entidades.Departamentos</class>
    <class>com.infosgroup.planilla.modelo.entidades.DetEmpleado</class>
    <class>com.infosgroup.planilla.modelo.entidades.DetEvaluacion</class>
    <class>com.infosgroup.planilla.modelo.entidades.DetInstitucion</class>
    <class>com.infosgroup.planilla.modelo.entidades.DetPlnpoliza</class>
    <class>com.infosgroup.planilla.modelo.entidades.DetPrestamos</class>
    <class>com.infosgroup.planilla.modelo.entidades.DetRangos</class>
    <class>com.infosgroup.planilla.modelo.entidades.Direccion</class>
    <class>com.infosgroup.planilla.modelo.entidades.DireccionEmpleado</class>
    <class>com.infosgroup.planilla.modelo.entidades.DireccionSucursal</class>
    <class>com.infosgroup.planilla.modelo.entidades.Dmgcuentas</class>
    <class>com.infosgroup.planilla.modelo.entidades.DocumentoEmpleado</class>
    <class>com.infosgroup.planilla.modelo.entidades.EmpleadoNivelAcademico</class>
    <class>com.infosgroup.planilla.modelo.entidades.EmpleadoTelefono</class>
    <class>com.infosgroup.planilla.modelo.entidades.Empleados</class>
    <class>com.infosgroup.planilla.modelo.entidades.EscalaEvaluacion</class>
    <class>com.infosgroup.planilla.modelo.entidades.EstadoCivil</class>
    <class>com.infosgroup.planilla.modelo.entidades.EstadoConcurso</class>
    <class>com.infosgroup.planilla.modelo.entidades.EstadoContrato</class>
    <class>com.infosgroup.planilla.modelo.entidades.Evaluacion</class>
    <class>com.infosgroup.planilla.modelo.entidades.EvaluacionCandidato</class>
    <class>com.infosgroup.planilla.modelo.entidades.Factor</class>
    <class>com.infosgroup.planilla.modelo.entidades.FestivosXDepto</class>
    <class>com.infosgroup.planilla.modelo.entidades.FirmasPlanilla</class>
    <class>com.infosgroup.planilla.modelo.entidades.FrecuenciaFuncion</class>
    <class>com.infosgroup.planilla.modelo.entidades.FuncionPuesto</class>
    <class>com.infosgroup.planilla.modelo.entidades.FuncionXPuesto</class>
    <class>com.infosgroup.planilla.modelo.entidades.FuncionariosSsf</class>
    <class>com.infosgroup.planilla.modelo.entidades.Gerencia</class>
    <class>com.infosgroup.planilla.modelo.entidades.HijosXEmpleado</class>
    <class>com.infosgroup.planilla.modelo.entidades.HisPuesto</class>
    <class>com.infosgroup.planilla.modelo.entidades.Indicador</class>
    <class>com.infosgroup.planilla.modelo.entidades.InstitucionDepto</class>
    <class>com.infosgroup.planilla.modelo.entidades.Instituciones</class>
    <class>com.infosgroup.planilla.modelo.entidades.Menu</class>
    <class>com.infosgroup.planilla.modelo.entidades.Modulo</class>
    <class>com.infosgroup.planilla.modelo.entidades.MovDp</class>
    <class>com.infosgroup.planilla.modelo.entidades.MovPatrono</class>
    <class>com.infosgroup.planilla.modelo.entidades.NivelAcademico</class>
    <class>com.infosgroup.planilla.modelo.entidades.ParamPlan</class>
    <class>com.infosgroup.planilla.modelo.entidades.Parentesco</class>
    <class>com.infosgroup.planilla.modelo.entidades.Planilla</class>
    <class>com.infosgroup.planilla.modelo.entidades.PlanillaIsss</class>
    <class>com.infosgroup.planilla.modelo.entidades.Plantilla</class>
    <class>com.infosgroup.planilla.modelo.entidades.Plnpoliza</class>
    <class>com.infosgroup.planilla.modelo.entidades.PorRangos</class>
    <class>com.infosgroup.planilla.modelo.entidades.Pregunta</class>
    <class>com.infosgroup.planilla.modelo.entidades.Prestamos</class>
    <class>com.infosgroup.planilla.modelo.entidades.Profesion</class>
    <class>com.infosgroup.planilla.modelo.entidades.ProgramacionPla</class>
    <class>com.infosgroup.planilla.modelo.entidades.Proyecto</class>
    <class>com.infosgroup.planilla.modelo.entidades.PruebaXPuesto</class>
    <class>com.infosgroup.planilla.modelo.entidades.PuestoEmpleado</class>
    <class>com.infosgroup.planilla.modelo.entidades.Puestos</class>
    <class>com.infosgroup.planilla.modelo.entidades.RangoAniosExp</class>
    <class>com.infosgroup.planilla.modelo.entidades.RangoAniosExperiencia</class>
    <class>com.infosgroup.planilla.modelo.entidades.RangoEdad</class>
    <class>com.infosgroup.planilla.modelo.entidades.RecalculoRetencion</class>
    <class>com.infosgroup.planilla.modelo.entidades.RelUsuarioNivel</class>
    <class>com.infosgroup.planilla.modelo.entidades.RelUsuarioTipopla</class>
    <class>com.infosgroup.planilla.modelo.entidades.RelacionLaboral</class>
    <class>com.infosgroup.planilla.modelo.entidades.Respuesta</class>
    <class>com.infosgroup.planilla.modelo.entidades.ResumenAsistencia</class>
    <class>com.infosgroup.planilla.modelo.entidades.RetencionesTerceros</class>
    <class>com.infosgroup.planilla.modelo.entidades.RhControlVacaciones</class>
    <class>com.infosgroup.planilla.modelo.entidades.RhOutsorcing</class>
    <class>com.infosgroup.planilla.modelo.entidades.Rol</class>
    <class>com.infosgroup.planilla.modelo.entidades.Rotacion</class>
    <class>com.infosgroup.planilla.modelo.entidades.Secciones</class>
    <class>com.infosgroup.planilla.modelo.entidades.SubsidioIsss</class>
    <class>com.infosgroup.planilla.modelo.entidades.Telefono</class>
    <class>com.infosgroup.planilla.modelo.entidades.TipoAccion</class>
    <class>com.infosgroup.planilla.modelo.entidades.TipoAusent</class>
    <class>com.infosgroup.planilla.modelo.entidades.TipoContrato</class>
    <class>com.infosgroup.planilla.modelo.entidades.TipoCriterio</class>
    <class>com.infosgroup.planilla.modelo.entidades.TipoCuenta</class>
    <class>com.infosgroup.planilla.modelo.entidades.TipoDocumento</class>
    <class>com.infosgroup.planilla.modelo.entidades.TipoEvaluacion</class>
    <class>com.infosgroup.planilla.modelo.entidades.TipoHorario</class>
    <class>com.infosgroup.planilla.modelo.entidades.TipoLicencia</class>
    <class>com.infosgroup.planilla.modelo.entidades.TipoPlanillaRecalculo</class>
    <class>com.infosgroup.planilla.modelo.entidades.TipoPuesto</class>
    <class>com.infosgroup.planilla.modelo.entidades.TipoRequisito</class>
    <class>com.infosgroup.planilla.modelo.entidades.TipoRespuesta</class>
    <class>com.infosgroup.planilla.modelo.entidades.TipoSangre</class>
    <class>com.infosgroup.planilla.modelo.entidades.TipoTransaccion</class>
    <class>com.infosgroup.planilla.modelo.entidades.TiposPlanilla</class>
    <class>com.infosgroup.planilla.modelo.entidades.Transaccion</class>
    <class>com.infosgroup.planilla.modelo.entidades.TransaccionCuenta</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <!--properties>
      <property name="eclipselink.logging.level.sql" value="FINEST"/>
    </properties-->
  </persistence-unit>
  <persistence-unit name="Parametros-ejbPU" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>jdbc/ParametrosDatasource</jta-data-source>
    <class>com.infosgroup.planilla.modelo.entidadades.Municipios</class>
    <class>com.infosgroup.planilla.modelo.entidadades.Paises</class>
    <class>com.infosgroup.planilla.modelo.entidadades.Deptos</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
  </persistence-unit>
</persistence>
