#accionesTD {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 250px;
    vertical-align: top;
}

#contenidoTD {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    vertical-align: top;
}

/* ===================================================================================================== */

body {
    font-size: 8pt;
    font-family: Arial, "Arial CE", sans-serif, Verdana, "Verdana CE", "Lucida Grande CE", lucida, "Helvetica CE";
    padding: 5px 5px 5px 5px;
}

.opcionMenu {
    text-decoration: inherit;
}

.espacioTexto {
    padding-left: 5px;
}

.textonegrita{
    font-weight: bolder;
    text-decoration: none;
}

.textonormal{
    font-weight: normal;
    text-decoration: none;
}

.candidatoSugerido{
    background-color: #DEDEDE;
}

.festivos{
    font-weight: bold !important;
    color: white !important;
    background-color: yellow !important;
}

.laborales{
    font-weight:bold !important;
    color: white !important;
    background-color: lightskyblue !important;
}

.vacaciones{
    font-weight:bold !important;
    color: white !important;
    background-color: orange !important;
}

.permisos{
    font-weight:bold !important;
    color: white !important;
    background-color: slateblue !important;
}

.capacitaciones{
    font-weight:bold !important;
    color: white !important;
    background-color: greenyellow !important;
}

.solicitudGenerada{
    background-color: #6666ff;
}

.solicitudPreAprobada{
    background-color: #009999;
}

.solicitudAprobada{
    background-color: #00cc66;
}

.solicitudRechazada{
    background-color: #ff0033;
}