/*
    Document   : imagenes.css
    Created on : 08-10-2011, 11:00:43 PM
    Author     : Vinicio Enrique Mercado
    Description: Define las imagenes para los botones Primefaces v2.2.1
    Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.guardar
{
background-image: url('../iconos/document-save.png') !important;
}

.cancelar
{
background-image: url('../iconos/edit-delete.png') !important;
}

.modificar
{
background-image: url('../iconos/document-edit.png') !important;
}

.eliminar
{
background-image: url('../iconos/trash-empty.png') !important;
}

.mostrarEmpleados
{
background-image: url('../iconos/edit-find-user.png') !important;
}

.evaluar
{
background-image: url('../iconos/user-properties.png') !important;
}

.opciones
{
background-image: url('../iconos/configure.png') !important;
}

.buscar
{
background-image: url('../iconos/edit-find.png') !important;
}

.button-ok
{
background-image: url('../iconos/dialog-ok-apply.png') !important;
}

.proceso
{
background-image: url('../iconos/system-run.png') !important;
}


