/* Esta regla cambia el color del los items seleccionados en las tablas
------------------------------------------------------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight{
    border:1px solid #7096AB !important;
    background:#9dcee8 !important;
    background:#9dcee8 linear-gradient(top, rgba(133,178,203,0.25), rgba(0,0,0,0)) !important;
    background:#9dcee8 -webkit-gradient(linear, left top, left bottom, from(rgba(133,178,203,0.25)), to(rgba(0,0,0,0))) !important;
    background:#9dcee8 -moz-linear-gradient(top, rgba(133,178,203,0.25), rgba(0,0,0,0)) !important;
    /* filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#00000000);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#00000000)"; */
    color:#ffffff; text-shadow:1px 1px 1px rgba(0,0,0,0.5) !important;
    cursor: pointer !important;
}
/*----------------------------------------------------------------------------*/

#accionesTD {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 250px;
    vertical-align: top;
}

#contenidoTD {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    vertical-align: top;
}

/* ===================================================================================================== */

body {
    font-size: 8pt;
    font-family: Arial, "Arial CE", sans-serif, Verdana, "Verdana CE", "Lucida Grande CE", lucida, "Helvetica CE";
    padding: 5px 5px 5px 5px;
}

.opcionMenu {
    text-decoration: inherit;
}

.espacioTexto {
    padding-left: 5px;
}

.textonegrita{
    font-weight: bolder;
    text-decoration: none;
}

.textonormal{
    font-weight: normal;
    text-decoration: none;
}

.candidatoSugerido{
    background-color: #DEDEDE;
}

.festivos{
    font-weight: bold !important;
    color: white !important;
    background-color: yellow !important;
}

.laborales{
    font-weight:bold !important;
    color: white !important;
    background-color: lightskyblue !important;
}

.vacaciones{
    font-weight:bold !important;
    color: white !important;
    background-color: orange !important;
}

.permisos{
    font-weight:bold !important;
    color: white !important;
    background-color: salmon !important;
}

.capacitaciones{
    font-weight:bold !important;
    color: white !important;
    background-color: greenyellow !important;
}

.solicitudGenerada{
    background: -moz-linear-gradient(right, #0051FF, #fff ); background: -webkit-gradient(linear, 0 0, 0 100%, from(#0051FF),  to(#fff));
}

.solicitudPreAprobada{
    background-color: #009999;
}

.solicitudAprobada{
    background: -moz-linear-gradient(right, #16FF25, #fff ); background: -webkit-gradient(linear, 0 0, 0 100%, from(#16FF25),  to(#fff));
}

.solicitudRechazada{
    /*background-color: #ff6666*/
    background: -moz-linear-gradient(right, #FF6F56, #fff ); background: -webkit-gradient(linear, 0 0, 0 100%, from(#FF6F56),  to(#fff));
}

.toolbarUsuario{
    border:none; background: -moz-linear-gradient(right, #CDCDCD, #fff ); background: -webkit-gradient(linear, 0 0, 0 100%, from(#65b6cf),  to(#2c2c2c));
}

.requerido{
    color: #DF0000;
    font-size: 10pt;
    font-weight: bold;
    padding: 3px;
}

.afectadosMaximo{
    color: red;
    font-weight: bold;
}

.afectadosMinimo{
    color: black;
    font-weight: bold;
}